/* Menu
 * Commons
 * Home
 */

/* Commons */
html {
    background-color: #333333;
    color: #FFFFFF;
}


/* Home */

#gloweffect {
    height: 90vh;
    opacity: 0.5;
    width: 70vw;
    background-image: linear-gradient(286deg, rgb(0, 115, 255) 25.99%, #dd4f0d 64.62%, rgb(255, 0, 0) 80.2%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 100%;
    content: "";
    filter: blur(100px);
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    top: 50px;
}

#container {
    position: absolute;
    margin: auto;
    width: 95vw;
    height: 140pt;
    top: 0;
    bottom: 0;
    filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;
    font-family: Aquire;
    font-size: 105pt;
    text-align: center;
    user-select: none;
}

.home_page_content {
    margin-top: 75vh;
}

.home-arrow-1 {
    text-align: center;
}